body {
  background: linear-gradient(135deg,#1d2671,#c33764);
  color: white;
  font-family: Arial;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.card {
  background: rgba(255,255,255,.15);
  padding: 15px;
  margin: 12px auto;
  width: 340px;
  border-radius: 16px;
  cursor: pointer;
  text-align: center;
  transition: .3s;
}

.card:hover {
  background: rgba(255,255,255,.3);
}

img {
  width: 60px;
  margin-bottom: 10px;
}

#holidays {
  margin-top: 30px;
  text-align: center;
}
