<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Country & Holiday Explorer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>
    🌍 Country & Holiday Explorer
</header>

<div class="container">
    <form method="post">
        <input type="text" name="country" placeholder="Country code (TR, US, DE)" required>
        <button type="submit">Explore</button>
    </form>

    {% if country %}
    <div class="card">
        <h2>{{ country }}</h2>
        <ul>
            {% for h in holidays %}
                <li>{{ h }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

</body>
</html>
